<h1>Home Page</h1>
<nav>
  <a href="/about">About</a>
</nav>
<form action="/submit" method="POST">
  <input type="text" name="data" placeholder="Enter something" />
  <button type="submit">Submit</button>
</form>
